[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# This is necessary until https://github.com/octodns/octodns/pull/689 gets
# rolled into a proper octodns release.
octodns = {file = "https://github.com/octodns/octodns/archive/8668dd3e8b34b0032b0cbb6fa157ed7b182a3ee2.tar.gz"}
fire = "~=0.4"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.8"
